<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div id="hitokuiiwa-normal" class="main-contents-room-template">

		<div class="main-contents-room-left main-contents-room-door">
		    <button id="white_door" class="room-door" value="white_door"></button>
		</div>
		<div class="main-contents-room-center">
		</div>
		<div class="main-contents-room-right main-contents-room-door">
			<button id="black_door" class="room-door" value="black_door"></button>
		</div>

	</div>

	<div id="hitokuiiwa-opened-eye" class="main-contents-room-template">

		<div class="main-contents-room-left main-contents-room-door">
		    <button id="white_door" class="room-door" value="white_door"></button>
		</div>
		<div class="main-contents-room-center">
			<img src="img/opened_eye.png" class="eye_between_door eye_between_door_opened">
		</div>
		<div class="main-contents-room-right main-contents-room-door">
			<button id="black_door" class="room-door" value="black_door"></button>
		</div>

	</div>

	<div id="hitokuiiwa-closed-eye" class="main-contents-room-template">

		<div class="main-contents-room-left main-contents-room-door">
		    <button id="white_door" class="room-door" value="white_door"></button>
		</div>
		<div class="main-contents-room-center">
			<img src="img/closed_eye.png" class="eye_between_door eye_between_door_closed">
		</div>
		<div class="main-contents-room-right main-contents-room-door">
			<button id="black_door" class="room-door" value="black_door"></button>
		</div>

	</div>

	<div id="hitokuiiwa-nipopong" class="main-contents-room-template main-contents-room-nipopong font-family-fontopo">

		低地ニポポングまで飛ばされてしまった！

	</div>

	<div id="hitokuiiwa-exit" class="main-contents-room-template font-family-fontopo">

		<div class="main-contents-room-exit">
			<div class="main-contents-room-exit-messeage">出口まで到達した！</div>
			<div class="main-contents-room-exit-door"></div>
		</div>

	</div>

</body>
</html>